<%= form_for @product, :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :photo %><br />
  <%= f.file_field :photo %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <!-- productが有するdescription. modelにaccepts_nested設定されてる -->
  <%= f.label :description %><br />
  <%= f.fields_for :descriptions do |d| %>
    <%= d.text_field :description %><br /> 
  <% end %>

  <%= f.submit "Create" %>
<% end %>
